.vs
.idea

Practice/Task-1-garden/.vs
Practice/Task-1-garden/Debug
Practice/Task-1-garden/*.user

Practice/Task-2-market/.vs
Practice/Task-2-market/Debug
Practice/Task-2-market/*.user

Practice/Task-3-turtle/.vs
Practice/Task-3-turtle/Debug
Practice/Task-3-turtle/*.user

Practice/Task-4-min-squares/.vs
Practice/Task-4-min-squares/Debug
Practice/Task-4-min-squares/*.user

Practice/Task-5-road-repair/.vs
Practice/Task-5-road-repair/Debug
Practice/Task-5-road-repair/*.user

Practice/Task-6-lefts/.vs
Practice/Task-6-lefts/Debug
Practice/Task-6-lefts/*.user


Labs/Task_1_4/.vs
Labs/Task_1_4/Debug
Labs/Task_1_4/*.user

Labs/Task_2_2/.vs
Labs/Task_2_2/Debug
Labs/Task_2_2/*.user

Labs/Task_3_9/.vs
Labs/Task_3_9/Debug
Labs/Task_3_9/*.user

Labs/Task_4_5/.vs
Labs/Task_4_5/Debug
Labs/Task_4_5/*.user

Labs/Task_4_8/.vs
Labs/Task_4_8/Debug
Labs/Task_4_8/*.user

Labs/Task_5_4/.vs
Labs/Task_5_4/Debug
Labs/Task_5_4/*.user

Labs/Task_6_2/.vs
Labs/Task_6_2/Debug
Labs/Task_6_2/*.user

Labs/Task_7_3/.vs
Labs/Task_7_3/Debug
Labs/Task_7_3/*.user

Labs/Task_7_5/.vs
Labs/Task_7_5/Debug
Labs/Task_7_5/*.user

Labs/Task_8_2/.vs
Labs/Task_8_2/Debug
Labs/Task_8_2/*.user

Labs/Task_8_3/.vs
Labs/Task_8_3/Debug
Labs/Task_8_3/*.user

Labs/Task_9_3/.vs
Labs/Task_9_3/Debug
Labs/Task_9_3/*.user

Labs/Task_10_4/.vs
Labs/Task_10_4/Debug
Labs/Task_10_4/*.user

Labs/Task_11_9/.vs
Labs/Task_11_9/Debug
Labs/Task_11_9/*.user

Labs/Task_11_14/.vs
Labs/Task_11_14/Debug
Labs/Task_11_14/*.user

Labs/Task_12_14/.vs
Labs/Task_12_14/Debug
Labs/Task_12_14/*.user

Labs/Task_14_11/.vs
Labs/Task_14_11/Debug
Labs/Task_14_11/*.user